
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}

body {
  height: 100vh;
	width: 100%;
  background: #CE0033;; /* fallback for old browsers */

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: #fff;
}
a{
    text-decoration: none;
    color:gray;
}

.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
.delete_input{
    background-color: red ; 
  
    color: gray; 
    border-radius: 100%;
    width: 50px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;

}
.row{
    display: flex;
    flex-direction: row;
    
}
h3{
    background-color: white;
    border: 2px solid silver;
    border-radius: 0.2rem;
    padding: 2px;

}
.switch-to-back {
  position: absolute;
  top: 1vw;
  right: 2vw;
  height: 2.5vw;
  width: 3vw;
  background-color: red;
  color: white;
  border: 2px solid white;
  font-weight: bold;
  font-size: 4vmin;
  text-align: center;
  box-shadow: 3px 3px 5px black ;
  font-family: 'Reboto', sans-serif;
  border-radius: 10%;
  transition-duration: 0.6s;
}

.switch-to-back:hover {
 right: 2.3vw;
}
